{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
    <h1 class="mb-5">Add Client</h1>
    <form action="/add" method="post">
        <div class="input-group mb-5 input-group-lg flex-nowrap">
            <span class="input-group-text">Profile</span>
            <input name="link" type="text" class="form-control" placeholder="Paste link..." autocomplete="off">
        </div>

        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}