{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1 class="mb-5">{{ username }}'s Client List</h1>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Priority</td>
                <th>Handle</th>
                <th>Platform</th>
                <th>Status</th>
                <th>Cost</th>
                <th>Deadline</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#</td>
                <td>@</td>
                <td>YouTube</td>
                <td>Lead to Deal</td>
                <td>$</td>
                <td>Date</td>
                <td>Info</td>
            </tr>
        </tbody>
    </table>
{% endblock %}