{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1 class="mb-5">{{ username }}'s Client List</h1>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Handle</th>
                <th>Platform</th>
                <th>Status</th>
                <th>Cost</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for column in table %}
            <tr>
                <td>{{ column[0] }}</td>
                <td>{{ column[1] }}</td>
                <td>{{ column[2] }}</td>
                <td>{{ column[3] }}</td>
                <td>{{ column[4] }}</td>
                <td>
                    <a href="/edit/{{ column[5] }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Edit</a>
                    <a href="/delete/{{ column[5] }}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
