{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1 class="mb-5">{{ username }}'s Client List</h1>

    <form method="get">
        <div class="d-flex justify-content-center align-items-center gap-5">
            <div class="d-flex align-items-center gap-2">
                <input type="radio" name="status" value="all" {% if selected_status == "all" %}checked{% endif %} onchange="this.form.submit()">
                <label>All</label>
            </div>
            <div class="d-flex align-items-center gap-2">
                <input type="radio" name="status" value="Lead" {% if selected_status == "Lead" %}checked{% endif %} onchange="this.form.submit()">
                <label>Lead</label>
            </div>
            <div class="d-flex align-items-center gap-2">
                <input type="radio" name="status" value="Contacted" {% if selected_status == "Contacted" %}checked{% endif %} onchange="this.form.submit()">
                <label>Contacted</label>
            </div>
            <div class="d-flex align-items-center gap-2">
                <input type="radio" name="status" value="Replied" {% if selected_status == "Replied" %}checked{% endif %} onchange="this.form.submit()">
                <label>Replied</label>
            </div>
            <div class="d-flex align-items-center gap-2">
                <input type="radio" name="status" value="Negotiating" {% if selected_status == "Negotiating" %}checked{% endif %} onchange="this.form.submit()">
                <label>Negotiating</label>
            </div>
            <div class="d-flex align-items-center gap-2">
                <input type="radio" name="status" value="Deal" {% if selected_status == "Deal" %}checked{% endif %} onchange="this.form.submit()">
                <label>Deal</label>
            </div>
            <div class="d-flex align-items-center gap-2">
                <input type="radio" name="status" value="Completed" {% if selected_status == "Completed" %}checked{% endif %} onchange="this.form.submit()">
                <label>Completed</label>
            </div>
        </div>
    </form>

    <table class="table table-light table-striped mt-3">
        <thead>
            <tr>
                <th>Handle</th>
                <th>Platform</th>
                <th>Status</th>
                <th>Cost</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for column in table %}
            <tr>
                <td>{{ column[0] }}</td>
                <td>{{ column[1] }}</td>
                <td>{{ column[2] }}</td>
                <td>{{ column[3] }}</td>
                <td>{{ column[4] }}</td>
                <td>
                    <a href="/edit/{{ column[5] }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Edit</a>
                    <a href="/delete/{{ column[5] }}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
